body {
    font-family: 'Quicksand', sans-serif;
}

.inline-block {
    display: inline-block;
    vertical-align: top;

}


.flex-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    text-align: center;
}


.navbar-list {
    width: 100%;
    text-align: right;
}
.w50 {
    width: 40%;
}


.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
    
}

.nav-button {
    padding-left: 5%;
    padding-right: 5%;
}



.coral-box {
    background-color: #FF735C;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    font-family:'Patua One', cursive;
    color: white;
    font-size: 8rem;
    line-height: 90%;
    z-index: 2;
}

.h60 {
    height: 100%;
    max-height: 100%;
  
}

.homepage-3 {
    height: 31vh;
    max-height: 31vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.quote-main-text {
    font-size: 2.5rem;
    padding-left: 20%;
    padding-right: 20%;
    vertical-align: middle;
    display: inline-block;
    
}


.quote-speech-marks {
    color: #FF735C;
        display: inline-block;
    font-family: 'Quicksand', sans-serif;
}

.author {
    font-size: 0.75rem;
}

.about-me {
    height: 100%;
    max-height: 100%;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    padding-left: 15%;
    padding-right: 15%;
}

button {
height: 58px;
}

.homepage-button {
    padding: 20%;
    text-align: center;
    border-radius: 30px;
    border-color: #FF735C;
    background-color: #FF735C;
    font-family: 'Quicksand', sans-serif;    
}

.text-center {
    text-align: center;
   
}

.pr-0 {
    padding-right: 0;
}


.subtitle {
    text-align: center;
    font-size: 2rem;
    padding: 1%;
}



